@import "tailwindcss";

body {
  background: #000;
  color: white;
  margin: 0;
  padding: 0;
}

.token-bg {
  background:
    radial-gradient(
      circle at right,
      rgba(120,0,0,.25),
      transparent 40%
    ),
    #000;
}
@keyframes ticker {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
@keyframes ticker {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}